# API
STREAM_SECRET=supersecretkey # Stream/Thumb secure link secret, must match front end.
STREAM_DOMAIN=stream.yourdomain.com # The domain to return to clients requesting the api.
API_AUTH_HEADER_SECRET=mysecurityistopnotch # Auth header needed to call the api.

# Tailscale
TS_AUTHKEY=your-tailscale-auth-key

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=pickles7667sweet